@charset "utf-8";
/* author lyc */

*{ margin:0px; padding:0px; font-family:'微软雅黑'; -webkit-tap-highlight-color:rgba(0,0,0,0);  }
li{ list-style:none }
img{ border:none}
a{text-decoration:none;} 

body{}

/* -------------------------摇奖排行榜-----------------------------------  */
.Top_Record{margin-top:230px}

.record_Top{width:90%; height:50px; background:url(../images/record_Bg.png) center center no-repeat; background-size:contain; text-align:center; line-height:50px; margin:30px auto 0px; color:#fff;}


.topRec_List dl,.maquee{ width:86%; overflow:hidden; margin:0 auto; color:#7C7C7C;margin-left: 57px}
.topRec_List dd{ float:left; text-align:center; border-bottom:1px solid #1B96EE; color:#1B96EE;}
.topRec_List dl dd:nth-child(1){ width:12%; height:40px; line-height:40px; }
.topRec_List dl dd:nth-child(2){ width:14%; height:40px; line-height:40px; }
.topRec_List dl dd:nth-child(3){ width:27%; height:40px; line-height:40px; }
.topRec_List dl dd:nth-child(4){ width:18%; height:40px; line-height:40px; }
.maquee{ height:195px;}
.topRec_List ul{ width:77%; height:195px;}
.topRec_List li{ width:90%; height:38px; line-height:38px; text-align:center; font-size:12px; border-bottom: 1px dashed #aaa;}
/*.topRec_List li:nth-child(2n){ background:#077cd0}*/
.topRec_List li div{ float:left;}
.topRec_List li div:nth-child(1){ width:16%;}
.topRec_List li div:nth-child(2){ width:20%;}
.topRec_List li div:nth-child(3){ width:39%;}
.topRec_List li div:nth-child(4){ width:25%;}

.apple a{display:block; text-decoration:none;}

.apple,.aa{ width:61%; height:50px; overflow:hidden; margin-top:45px; border:1px solid #1B96EE;margin-left: 57px}
.apple a,.aa a{ width:100%; height:50px; line-height:50px; text-indent:20px; color:#1B96EE;}
.aa {word-wrap:break-word;line-height:50px;  color:#1B96EE;}
/*
本代码由js代码收集并编辑整理;
尊重他人劳动成果;
转载请保留js代码链接 - www.jsdaima.com
*/